# Supabase Configuration Example
NEXT_PUBLIC_SUPABASE_URL=https://your-supabase-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key
SUPABASE_SERVICE_ROLE_KEY=
GEMINI_API_KEY=
OPENROUTER_API_KEY=your-openrouter-api-key
LINE_CHANNEL_SECRET=ใส่_Channel_secret_ที่นี่
LINE_CHANNEL_ACCESS_TOKEN=ใส่_Channel_access_token_ที่นี่

ELEVENLABS_API_KEY=your-elevenlabs-api-key
ELEVENLABS_VOICE_ID=
ELEVENLABS_MODEL_ID=eleven_v3